<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".PlantasiaApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/plant"
        android:label="@string/app_name"
        android:roundIcon="@drawable/plant"
        android:supportsRtl="true">
        <activity
            android:name=".ui.PlantDetailsActivity"
            android:theme="@style/Base.Theme.Plantasia"
            android:exported="false" />
        <activity
            android:name=".ui.NewPlantActivity"
            android:theme="@style/Base.Theme.Plantasia"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Base.Theme.Plantasia"
            android:exported="false"/>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen.Plantasia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>